{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <h4 class="card-header">Amazon Web Services: Add Access Key</h4>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}

                    <p>
                        Are you sure you want to delete <strong>{{ aws_access_key.name }}</strong>?
                    </p>

                    <div class="text-right">
                        <a href="{% url 'aws:key_list' %}" class="btn btn-secondary">
                            Cancel
                        </a>
                        <button type="submit" class="btn btn-danger">
                            <i class="fas fa-trash"></i>
                            Delete
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
