{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-sm-12">
        <div class="card">
            <h4 class="card-header">Amazon Web Services: Add Access Key</h4>
            <div class="card-body">
                <form method="post">
                    {% include 'provision_aws/snippets/form.html' %}

                    <div class="text-right">
                        <a href="{% url 'aws:key_list' %}" class="btn btn-secondary">
                            Cancel
                        </a>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i>
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
