{% extends 'base.html' %}

{% block content %}
<h3>AWS Access Keys</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Access Key</th>
            <th scope="col">Secret Key</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for aws_access_key in aws_access_keys %}
            <tr>
                <td class="text-monospace">{{ aws_access_key.name }}</td>
                <td class="text-monospace">*****{{ aws_access_key.access_key | slice:"-4:" }}</td>
                <td class="text-monospace">*****</td>
                <td>
                    <a href="{% url 'aws:key_detail' aws_access_key.pk %}" class="mx-2"><i class="fas fa-eye"></i></a>
                    <a href="{% url 'aws:key_update' aws_access_key.pk %}" class="mx-2"><i class="fas fa-edit"></i></a>
                    <a href="{% url 'aws:key_delete' aws_access_key.pk %}" class="mx-2 text-danger"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">
                    <p>You do not have any AWS access keys saved.</p>
                    <p>
                        <a href="{% url 'aws:key_add' %}" class="btn btn-primary">
                            <i class="fas fa-plus"></i> Add Access Key
                        </a>
                    </p>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
