{% extends 'base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'aws:index' %}">Amazon Web Services</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Clusters
        </li>
    </ol>
</nav>

<h3>AWS Clusters</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for aws_cluster in aws_clusters %}
            <tr>
                <td class="text-monospace">{{ aws_access_key.name }}</td>
                <td>
                    <a href="{% url 'aws:cluster_delete' cluster.pk %}" class="mx-2 text-danger">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4" class="text-muted">
                    You do not have any AWS clusters.
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="4">
                <a href="{% url 'aws:cluster_add' %}" class="btn btn-primary">
                    <i class="fas fa-plus"></i> New Cluster
                </a>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
