{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="text-center">
    <p class="py-4">
        <img src="{% static 'img/aws.png' %}" />
    </p>
</div>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <h4 class="card-header">Amazon Web Services: Credentials</h4>
            <div class="card-body">
                <form action="{% url 'aws:index' %}" method="post">
                    {% include 'provision_aws/snippets/form.html' %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
