{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="text-center">
    <p class="py-4">
        <img src="{% static 'img/aws.png' %}" />
    </p>
</div>

<div class="row justify-content-center">
    {% if aws_access_keys_count == 0 %}
        <div class="col-md-8 col-sm-12">
            <div class="alert alert-warning">
                <h5 class="alert-heading">Missing Access Keys</h5>

                <p>
                    You do not have any AWS access keys saved. These are required to continue. Please ese the button below to add your AWS access keys.
                </p>

                <div class="text-center">
                    <a href="{% url 'aws:key_add' %}" class="btn btn-primary">
                        <i class="fas fa-plus"></i> Add Access Key
                    </a>
                </div>
            </div>
        </div>
    {% else %}
        <div class="col-md-8 col-sm-12">
            <p class="text-center">
                <a href="{% url 'aws:key_list' %}" class="btn btn-primary">
                    Manage Access Keys
                </a>
            </p>
            <p class="text-center">
                <a href="{% url 'aws:cluster_list' %}" class="btn btn-primary">
                    Manage Clusters
                </a>
            </p>
        </div>
    {% endif %}
</div>
{% endblock %}
